.container {
    width: 1200px;
    height: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.min-height {
    height: 1200px;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}