.btn {
    background-color: #222;
    color: #fff;
    padding: 1.5em 2em;
    text-decoration: none;
    transition: 0.5s;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover {
    color: #ffbb33;
}